<!doctype html>
<html {% block ng_app %}{% endblock %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{handler.__doc__}}{% endblock %}</title>
    <link rel="stylesheet" href="//catke-static.b0.upaiyun.com/bootstrap/3.0.0/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="//catke-static.b0.upaiyun.com/bootstrap/3.0.0/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="//dn-staticfile.qbox.me/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{static_url('css/admin.css')}}">
    
    <!--[if lt IE 9]>
      <script src="//dn-staticfile.qbox.me/html5shiv/r29/html5.min.js"></script>
      <script src="//dn-staticfile.qbox.me/respond.js/1.2.0/respond.min.js"></script>
    <![endif]-->

    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    
    <script src="//dn-staticfile.qbox.me/require.js/2.1.8/require.min.js"></script>
    <script src="{{static_url('js/config.js')}}"></script>
 
    {% block foot %}{% endblock %}
</body>
</html>