.ui-tips-base(@bgColor,@borderColr,@fontColor){
	border-radius:5px;
	background:@bgColor;
	color:@fontColor;
	border:1px solid @borderColr;
	font-size:12px;
	padding:10px 12px;
	.fn-css3();
}
.ui-tips-close{
	float:right;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:20px;
	line-height:18px;
	position:relative;
	top:-6px;
	right:-6px;
	cursor:pointer;
	&:hover{
		color:#000;
	}
}
.ui-tips{
	.ui-tips-base(#FCF8E3,#FBEED5,#C09853);
}
.ui-tips-success{
	.ui-tips-base(#DFF0D8,#D6E9C6,#468847);
}
.ui-tips-danger{
	.ui-tips-base(#F2DEDE,#EED3D7,#B94A48);
}
.ui-tips-info{
	.ui-tips-base(#D9EDF7,#BCE8F1,#3A87AD);
}

