
<div class="panel panel-default" ng-show="isList">
    <div class="panel-heading">
      <h3 class="panel-title">分类管理</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>名称</th>
                    <th>描述</th>
                    <th>数据表</th>
                    <th>操作</th>
                </tr> 
            </thead>
            <tbody>
                <tr ng-repeat="v in catgorys">
                    <td>{{v.id}}</td>
                    <td>{{v.icon}} {{v.title}}</td>
                    <td>{{v.desc}}</td>
                    <td>{{v.table_name}}</td>
                    <td>
                        <button ng-click="edit(v)" tool-tip="编辑" type="button" class="btn btn-default btn-sm">
                            <i class="icon-edit"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="panel panel-default" ng-show="isList == false">
    <div class="panel-heading">
      <h3 class="panel-title">
          <button ng-click="isList = true" class="btn btn-default btn-sm">
            <i class="icon-reply"></i>
            分类管理
          </button>

      </h3>
    </div>
    <div class="panel-body" load-form="app.forms.cms.Category">
    </div>
</div>

