{% extends "./layout.html" %}

{% block body %}
<div class="category">
	<ul>
		{% for v in category%}
		<li>
			<a href="/admin/content-{{v['value']}}">{{ v['label'].split('/')[0] }}</a>
		</li>
		{% end %}
	</ul>
</div>
<div id="content-list" style="background:transparent;overflow-x: hidden;">
	<iframe src="" style="background:transparent;overflow-x: hidden;" allowTransparency="true" width="100%" height="98%" frameborder="0"  id="list-iframe"></iframe>
</div>

<style type="text/css">
	html{
		overflow-y: hidden;
	}
</style>
<script type="text/javascript">
	seajs.use(['jquery'],function(jQuery){
		var categoryList = jQuery('.category');
		var win = jQuery(window);
		categoryList.height(win.height()).find('a:even').addClass('old');
		var list = jQuery('#content-list');

		list.css({
			height : win.height()  ,
			width : jQuery.browser.msie ? win.width() - categoryList.width() - 5 : win.width() - categoryList.width() - 3
		});

		win.bind('resize.category',function(){
			categoryList.height(win.height());

			list.css({
				height : win.height()  ,
				width : jQuery.browser.msie ? win.width() - categoryList.width() - 5 : win.width() - categoryList.width() - 3
			});
		});

		categoryList.find('a').click(function(){
			categoryList.find('a.select').removeClass('select');
			var that = jQuery(this).addClass('select');
			jQuery('#list-iframe').attr('src',that.attr('href'));
			return false;
		});

		categoryList.find('a').eq(0).click();
	});
</script>
{% end %}