{% extends "./layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ static_url("js/editor/kind/themes/default/default.css")}}">
<script charset="utf-8" src="{{ static_url("js/editor/kind/kindeditor-min.js")}}"></script>
<script charset="utf-8" src="{{ static_url("js/editor/kind/lang/zh_CN.js")}}"></script>
{% end %}
{% block body %}
<div class="ui-panel">
	
	<div class="content" style="padding-top:6px;">
		<ul class="ui-menu-pills">
			{% for v in locales %}
			<li><a href="#" data-id="{{v['id']}}">{{v['name']}}</a></li>
			{% end %}
		</ul>
		{% for v in locales %}
		<div class="ui-form form-wrap"></div>
		{% end %}
	</div>
</div>

<script type="text/javascript">
	seajs.use(['jquery','YooYo/form' , 'app/admin/pop' , 'json' , 'app/admin/formPlugin'],function(jQuery,Form,pop,JSON,formPlugin){
		var formCfg = {{json_encode(form)}};
		var forms = [];
		{% if aid %}
		var _data = {{json_encode(data)}};
		{% else %}
		var _data = [];
		{% end %}

		

		//保存数据
		var save = function(data){
			//console.log(window.location.href)
			jQuery.post(window.location.href,{ list : JSON.stringify(data) },function(json){
				//console.log(json)
				if(json.success){
					opener.location.reload();
					window.close();
				}
				else{
					pop.alert(json.msg);
				}
			},'json');
		};


		jQuery('.ui-menu-pills').find('a').click(function(){
			
			jQuery('.ui-menu-pills').find('a.select').removeClass('select');
			var that  = jQuery(this).addClass('select');
			var index = jQuery('.ui-menu-pills').find('a').index(that);
			jQuery('.form-wrap').hide();
			var wrap = jQuery('.form-wrap').eq(index).show();

			if(undefined == that.data('initForm')){
				that.data('initForm',true);
				
				var form = new Form();
				//console.log(formCfg)
				form.loadConfig(formCfg);
				form.build().appendTo(wrap);

				{% if aid %}
				var locale_id = that.attr('data-id');
				var values = false;
				jQuery.each(_data,function(k,v){
					if(v.locale_id == locale_id){
						//form.setValues(v);
						values = v;
						return false;
					}
				});
				form.setValues(values || {
					'locale_id' : locale_id
				});
				{% else %}
				form.setValues({
					'locale_id' : that.attr('data-id')
				});
				{% end %}

			
				//绑定编辑器插件
				form.plugin('Editor', formPlugin.editorPlugin);
				form.plugin('ImageUpload',formPlugin.imageUploadPlugin);
				form.plugin('Photos',formPlugin.photosPlugin);
				form.plugin('Videos',formPlugin.vidoesPlugin);

				forms[forms.length] = form;

				var values = [];
				var get = 1;
				form.on('submit',function(){
					form.validate(function(data){
						values[0] = data;
						if(forms.length == 1){
							return save(values);
						}
						jQuery.each(forms,function(k,v){
							if(v!=form){
								get++;	
								v.on('validateError',function(){
									//console.log(get)
									if(get == forms.length){
										v.on('validateError',function(){})
										return save(values);
									}
								});	
								v.validate(function(data){
									values[values.length] = data;
									if(get == forms.length){
										return save(values);
									}
								});
							}
						})
					});
					return false;
				})

				
			}
			return false;
		});

		{% if aid %}
		jQuery.each(_data,function(k,v){
			if(v.id == {{aid}}){
				jQuery('.ui-menu-pills a[data-id='+ v.locale_id +']').click();
				return false;
			}
		});
		{% else %}
		jQuery('.ui-menu-pills').find('a').eq(0).click();
		{% end %}

		
		
	})
</script>
{% end %}
