{% extends "./layout.html" %}

{% block body %}
<div class="ui-panel">
	<div class="title">
		<button class="ui-btn act-add" >
			<i class="icon-plus"></i>
			添加
		</button>

		<form action="" class="ui-search-form">
			<input type="hidden" name="page" value="1" />
			<input type="text" name="q" value="{{saerch}}" placeholder="Search" class="search" x-webkit-speech="" x-webkit-grammar="builtin:translate"/>
		</form>
		
	</div>
	<div class="content">
		<div class="ui-table-un">
			<table >
				<tr>
					<th>id</th>
					<th>标题</th>
					<th>语言</th>
					<th>操作</th>
				</tr>
				{% for v in data %}
				<tr>
					<td>{{v.cid}}</td>
					<td>{{v.title}}</td>
					<td>{{v.name}}</td>
					<td>
						
						<a href="#" data-id="{{v.id}}" data-cid="{{v.cid}}" class="ui-btn ui-btn-small act-edit"><i class="icon-pencil"></i> 修改</a>

						<a href="#" data-id="{{v.id}}" class="ui-btn-danger ui-btn-small act-del"><i class="icon-trash icon-white"></i> 删除</a>
						
					</td>
				</tr>
				{% end %}
			</table>
		</div>
		{% module adminPagination(pagination) %}
	</div>
</div>

<script type="text/javascript">
	seajs.use(['jquery','app/admin/table','app/admin/pop'],function(jQuery,table,pop){
		var openWin = function(url){
			return window.open(url);
		};

		jQuery('.act-add').click(function(){
			openWin('/admin/content-add-{{id}}');
			return false;
		});

		jQuery('.act-edit').click(function(){
			openWin('/admin/content-edit-{{id}}-' + jQuery(this).attr('data-id') + '-' + jQuery(this).attr('data-cid'));
			return false;
		});

		jQuery('.act-del').click(function(){
			var that = jQuery(this);
			pop.conform('确认删除 ? ' , function(){
				jQuery.post(window.location.href,{id : that.attr('data-id')},function(json){
					if(json.success) return window.location.reload();
					pop.alert(json.msg);
				},'json');
			});
			return false;
		});

		table.render();
	})
</script>
{% end %}
