<!doctype html>
<html>
<head>
	
	{% if handler.settings['run_mode'] == 'devel' %}
	<link rel="stylesheet/less" type="text/css" href="{{ static_url("style/admin.less") }}">
	<script src="{{ static_url("js/less-1.3.0.min.js") }}" type="text/javascript"></script>
	{% else %}
	<link rel="stylesheet" href="{{ static_url("style/admin.css") }}">
	{% end %}

	<title>{% block title %}{% end %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="{{ static_url("js/sea.js") }}" type="text/javascript"></script>

	{% block head %}{% end %}
</head>
<body class="wrap">
	{% block body %}{% end %}

	{% if handler.settings['run_mode'] == 'devel' %}
	<hr/>
	run time : {{handler.get_run_time()}}
	{% end %}
</body>
</html>