{% extends "./layout.html" %}

{% block body %}
<div class="ui-panel">
	<div class="title">
		<button class="ui-btn act-add" >
			<i class="icon-plus"></i>
			添加
		</button>
		语言种类列表
	</div>
	<div class="content">
		<div class="ui-table-un">
			<table >
				<tr>
					<th>id</th>
					<th>代码</th>
					<th>名称</th>
					<th>操作</th>
				</tr>
				{% for v in data %}
				<tr>
					<td>{{v.id}}</td>
					<td>{{v.code}}</td>
					<td>{{v.name}}</td>
					<td>

						<a href="#" data-id="{{v.id}}" class="ui-btn ui-btn-small act-edit"><i class="icon-pencil"></i> 修改</a>

						<a href="#" data-id="{{v.id}}" class="ui-btn-danger ui-btn-small act-del"><i class="icon-trash icon-white"></i> 删除</a>
					</td>
				</tr>
				{% end %}
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	seajs.use(['jquery','app/admin/table','app/admin/pop'] , function(jQuery, table , pop){
		var formCfg = {{json_encode(form)}};
		var list = {{json_encode(data)}};

		//添加
		jQuery('.act-add').click(function(){
			pop.form('添加语言',formCfg);
			return false;
		});
		//编辑
		jQuery('.act-edit').click(function(){
			var id = jQuery(this).attr('data-id');
			jQuery.each(list,function(k,v){
				if(v.id == id){
					pop.form('编辑语言',formCfg,v);
					return false;
				}
			});
			return false;
		});
		//删除
		jQuery('.act-del').click(function(){
			var id = jQuery(this).attr('data-id');

			jQuery.each(list,function(k,v){
				if(v.id == id){
					pop.conform('确认删除 "' + v.code + '" ? ' , function(){
						jQuery.post(window.location.href,{ id : v.id , isDel : true } , function(json){
							if(json.success) return window.location.reload();
							pop.alert(json.msg);
						},'json')
					});			
					return false;
				}
			});
			return false;
		});
		

		table.render();
	});

	
</script>
{% end %}