{% extends "./layout.html" %}
{% block title %}登陆{% end %}
{% block head %}
<style type="text/css">
	body .ui-form input{
		width: 300px;
	}
</style>
{% end %}
{% block body %}
<div style="width:500px; margin:7% auto;">
	<div class="ui-panel">
		<div class="title">
			登陆后台	
		</div>
		<div class="content ui-form">
			
		</div>
	</div>
</div>


<script type="text/javascript">
	seajs.use(['jquery','app/admin/pop','YooYo/form'] , function(jQuery, pop , Form){
		var formCfg = {{json_encode(form)}};
		var form = new Form();
		form.loadConfig(formCfg);
		form.build().appendTo('.ui-form');
		form.on('submit' , function(){

			form.validate(function(data){
				pop.alert('加载中...');
				jQuery.post(window.location.href,data,function(json){
					if(json.success) return window.location.href = json.url;
					pop.alert(json.msg);
				},'json');
			});
			return false;
		});
	});
</script>
{% end %}