{% if pagination['countPage'] > 1 %}
<div class="padg12">
    <ul class="ui-pagination">
        <li class="prev {% if pagination['current'] == 1%}disabled{% end %}"><a href="{{link}}{{pagination['prev']}}">«</a></li>
        {% for v in list %}
        <li>
        	{% if v['class'] != 'disabled'%}
        	<a class="{% if v['name'] == str(pagination['current']) %} select{% end %}" href="{{ v['url'] }}">{{ v['name'] }}</a>
        	{% else %}
        	...
        	{% end %}
        </li>
        {% end %}
        <li class="next {% if pagination['current'] == pagination['countPage']%}disabled{% end %}"><a href="{{link}}{{pagination['next']}}">»</a></li>
    </ul>
</div>
{% end %}