{% extends "./layout.html" %}

{% block body %}
{% if len(words) > 0 %}
<div class="ui-panel">
	<div class="title">
		激活的插件
	</div>
	<div class="content">
		<div class="ui-table-un">
			<table >
				<tr>
					<th>名称</th>
					<th>描述</th>
					<th>操作</th>
				</tr>
				{% for v in words %}
				<tr>
					<td>{{v['name']}}</td>
					<td>{{v['info']}}</td>
					
					<td>
						{% if v['form'] %}
						<a href="#" data-name="{{v['name']}}" class="ui-btn ui-btn-small act-edit"><i class="icon-pencil"></i> 配置</a>
						{% end %}
						<a href="#" data-name="{{v['name']}}" class="ui-btn-danger ui-btn-small act-disable"><i class="icon-off icon-white"></i> 禁用</a>
					</td>
				</tr>
				{% end %}
			</table>
		</div>
	</div>
</div>

<br/>
{% end %}
{% if len(plugins) > 0 %}
<div class="ui-panel">
	<div class="title">
		可用的插件
	</div>
	<div class="content">
		<div class="ui-table-un">
			<table >
				<tr>
					<th>名称</th>
					<th>描述</th>
					<th>操作</th>
				</tr>
				{% for v in plugins %}
				<tr>
					<td>{{v['name']}}</td>
					<td>{{v['info']}}</td>
					
					<td>
						
						<a href="#" data-name="{{v['name']}}" class="ui-btn ui-btn-small act-activation"><i class="icon-ok"></i> 激活</a>
						
					</td>
				</tr>
				{% end %}
			</table>
		</div>
	</div>
</div>
{% end %}

<script type="text/javascript">
	seajs.use(['jquery','app/admin/table','app/admin/pop'] , function(jQuery, table , pop){
		
		//激活
		jQuery('.act-activation').click(function(){
			var that = jQuery(this);
			var name = that.attr('data-name');
			jQuery.post(window.location.href,{ act : 'activation' , name : name },function(json){
				if(json.success) return window.location.reload();
				pop.alert(json.msg);
			},'json');
			return false;
		});

		//禁用
		jQuery('.act-disable').click(function(){
			var that = jQuery(this);
			var name = that.attr('data-name');
			jQuery.post(window.location.href,{ act : 'disable' , name : name },function(json){
				if(json.success) return window.location.reload();
				pop.alert(json.msg);
			},'json');
			return false;
		});

		table.render();
	});

	
</script>
{% end %}